.col-md-4
.col-md-4 
  %h1 Editing product

  = render 'form'

  = link_to 'Show', category_product_path(category, product), class: 'btn btn-primary'
  = link_to 'Back', category_path(category), class: 'btn btn-primary'
.col-md-4
