.well.well-lg
  .avatar_float
    = image_tag review.user.avatar_url(:small_thumb).to_s
  %p= review.content
  %p 
    %b By:  
    %em= review.author
    at
    %em= review.created_at.strftime("%H:%M %d/%m/%Y")
  %p
  - review.rating.times do
    .glyphicon.glyphicon-star
  - (5-review.rating).times do
    .glyphicon.glyphicon-star-empty    
  .clear